{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hola!</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="wrapper">

      <h2>Hola!</h2>
      <form class="" action="/login/" method="POST">

        {% csrf_token %}
        <label for="user_email">Email</label>
        <input type="email" name="email" id="user_email">
        <br>
        <label for="user_password">Password</label>
        <input type="password" name="password" id="user_password">
        <button type="submit" name="button">Login</button>

      </form>

      <img src="{% static 'jpg/llama.jpg' %}" alt="llama">
      <a href="/countries/">See Countries</a>
      <a href="/states/">See States</a>

    </div>

    <!-- <script src="{% static 'js/scripts.js' %}"> -->

    </script>
  </body>
</html>
