.wrapper{
  padding: 50px 200px;
}


h1{
  text-align: ;
}
input{
  width: 600px;
  flex: 1;
}
.submit-task{
  display: flex;
}
button{
  /* flex: 1; */
}

.delete{
  display: none;
}

.task:hover .delete {
  display: inline-block;
}
